@import "tailwindcss";

@tailwind utilities;

@layer base {
    :root {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    html, body {
        width: 100%;
        min-width: 0;
        overflow-x: hidden;
    }
}